{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}
{% form_theme formAnimal 'bootstrap_5_layout.html.twig' %}
{% block body %}

    {{ form_start (formAnimal) }}
    {{ form_row (formAnimal.name) }}
    {{ form_row (formAnimal.weight) }}
    {{ form_row (formAnimal.category) }}
    <button type="submit" class="btn bg-primary">OK</button>
    {{ form_end (formAnimal) }}

{% endblock %}
