{% extends 'base.html.twig' %}

{% block title %}Hello AnimalController!{% endblock %}

{% block body %}

    {% for animal in animal %}
    <div class="border bporder-primary">
        {% if animal.image %}
            <img width="200px" src="{{ vich_uploader_asset(animal.image) }}" alt="">
        {% else %}
            <img width="200px" src ="{{ asset("images/no_image.png") }}">
        {% endif %}
        <h3>{{ animal.name }}</h3>
        <h4>weight :{{ animal.weight }}</h4>
        <p>{{ animal.category.name }}</p>
        <a href="{{ path('show_animal', {id:animal.id}) }}" class="btn btn-primary">Voir</a>
    </div>
    {% endfor %}

    <script src="{{ asset('like.js') }}"></script>

{% endblock %}
