{% extends 'base.html.twig' %}

{% block title %}{{ animal.name }}{% endblock %}

{% block body %}

        <div class="border border-primary">
            <h3>{{ animal.name }}</h3>
            <h4>weight :{{ animal.weight }}</h4>
            <p>{{ animal.category.name }}</p>
            <p>Auteur : {{ animal.author.email }} le {{ animal.createdAt|date("m/d/Y") }}</p>
            {% include 'like/button.html.twig' with { routeName:"app_like", object:animal } %}
            <a href="{{ path('app_animal') }}" class="btn btn-secondary">Back</a>
            {% if app.user == animal.author %}
                <a href="{{ path('animal_image', {id:animal.id}) }}" class="btn btn-success">Image</a>
            <a href="{{ path('delete_animal',{id:animal.id}) }}" class="btn btn-danger">Supprimer</a>
            <a href="{{ path('edit_animal',{id:animal.id}) }}" class="btn btn-warning">Edit</a>
            {% endif %}
        </div>
    <div>
        {% for comment in animal.comments %}
            <p>{{ comment.content }}</p>
            <a href="{{ path('delete_comment',{id:comment.id}) }}" class="btn btn-danger">Supprimer</a>
            <hr>
        {% endfor %}
    </div>
    {{ form_start(commentForm, {attr: {action:path('comment', {id:animal.id})}}) }}

    {{ form_widget(commentForm.content, {"attr": {"placeholder":"ton commentaire"}}) }}
    <button type="submit" class="btn btn-success">Post</button>
    {{ form_end(commentForm) }}

{% endblock %}
